.track {
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.img {
  width: 70px;
  height: 70px;
}

.grid {
  width: 200px;
  margin: "0px 28px";
}

.icon {
  margin: auto;
}
